@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Stockholm extension, https://github.com/annaesvensson/yellow-stockholm */

/* Colors and fonts */

:root {
  --bg: #1f2122;
  --page-bg: #fff;
  --code-bg: #f7f7f7;
  --notice1-bg: #fffbf0;
  --notice2-bg: #fdf0f0;
  --notice3-bg: #f0f8fe;
  --heading: #111;
  --text: #666;
  --code: #666;
  --link: #07d;
  --link-active: #29f;
  --blockquote-accent: #29f;
  --notice1-accent: #fb0;
  --notice2-accent: #d00;
  --notice3-accent: #08e;
  --separator: #ddd;
  --border: #bbb;
  --font: "Open Sans", Helvetica, sans-serif;
  --monospace-font: "Fira Code", Iosevka-Aile, monospace;
  --serif-font: "Source Serif Pro";
  --font-size-prose: 1.3rem;
  --rotation: 2;

  --yellow: #ff0;
  --yellow-light: #ffff64;
  --gray-light-3: #eee;
}

html {
 font-family: var(--monospace-font);
 background: var(--page-bg);
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
}

body {
  margin: 0;
}

@media screen and (max-width: 32em) {
}
@media print {
}

.footer {
  background: var(--footer-bg-color);
  color: var(--footer-bg-text);
  margin-top: 8rem;
  padding: 4rem;
}



.main.masonry-grid {
  margin: 2rem;
  margin-top: var(--spaceAtTop);
}



.layout-blog-start {
  --footer-bg-color: #000;
  --footer-bg-text: var(--gray-light-3);
  --spaceAtTop: 34vw;

 .featured-image {
   line-height: 0;
 }

 .blog-entry {
  margin-bottom: 30px;
  transform: rotate(var(--rotation));
 }

 .featured-image img {
   width: 100%;
 }
 .entry {
   position: relative;
 }

 .entry-title {
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;

   h1 {
    font-weight: bold;
    font-size: 1.04rem;
    font-family: var(--monospace-font);
   }

   a {
    color: #000;
    text-decoration: none;

    &:before {
       position: absolute;
       top: 0;
       width: 100%;
       height: 100%;
       content: '';
     }
   }
 }

 .entry-meta {
   position: absolute;
   bottom: 0;
   right: 0;
   padding: 0.2rem 0.4rem;
   color: #fd0;
   background: #000;
   backdrop-filter: blur(10px);
   font-family: iosevka;

   p {
     margin: 0;
   }
 }

 .blog-entry {
  background: #1EC4B4;
 }

 .featured-image {
  mix-blend-mode: multiply;

  img {
   filter: grayscale(1) contrast(2);
  }
 }
}

.main.masonry-grid {

 // https://www.presentandcorrect.com/blogs/blog/rams-palette

 $colors:
  #cc6324,
  #bfa07a,
  #aab7bf,
  #ed8008,
  #736b1e,
  #bf7c2a,
  #9c9c9c;

  $colors:
    #c3e697,
    #c0966e,
    #ddb55d,
    #ecc5f9,
    #fbe2b7,
    #e0e0fc
  ;

  $colors:
//    #f00,
    #ff0,
    #00ff71,
    #66dcdc,
    #e388bd
//    #00f,
//    #f0f
  ;


//  $colors: #ff0, #fff, #888;

// Commented-out colors are too dark

 $color-number: length($colors);

 @each $color in $colors {
  $i: index($colors, $color);

  .blog-entry:nth-child(#{$color-number}n + #{$i - 1}) {
   background: $color; // scale-color($color, $lightness: 40%);
  }
 }

  .entry-title-heading {
    display: inline-block;
    background: #fff;
    padding: 0.2rem 0.4rem;
    box-shadow: rgba(0,0,0,0.2) 1px 1px 1px;
    margin-left: -2px;
  }

  .tags {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    display: none;

    li {
     background: #fff;
     list-style: none;
     padding: 0.2rem 0.4rem;
     border-radius: 0.3rem;
     font-family: menlo;
     font-size: 0.9rem;
    }
  }

  .grid-sizer,
  .grid-item {
    @media screen and (min-width: 50em) {
      width: 30%;
    }
    @media screen and (min-width: 60em) {
      width: 22%;
    }
  }

  .gutter-sizer {
    @media screen and (min-width: 50em) {
      width: 3%;
    }
    @media screen and (min-width: 60em) {
      width: 3%;
    }
  }
}


.blog-entry {
  transition: 0.4s all ease;

  &:hover {
    background: #fff !important;
  	transform: scale(1.04);

    .featured-image {
      mix-blend-mode: unset;

      img {
        filter: unset;
      }
    }
  }
}

.layout-blog {

  .entry {
    overflow: hidden;
  }

  .featured-image {
      width: 50%;
      FLOAT: LEFT;
  }

  img {
      width: 100%;
  }
  .entry {
    max-width: 70rem;
    margin: 0 auto;
  }
  .entry-title,
  .entry-content {
    background: var(--gray-light-3, #eee);
    float: right;
    margin-bottom: 0.8rem;
    width: 50%;
  }
  .entry-title {
    background: transparent;

    h1 {
      background: var(--gray-light-3, #eee);
      width: fit-content;
    }
  }
}

.entry-content {
  p {
    font-family: var(--serif-font);
    font-size: var(--font-size-prose);
  }
}
.previousnext {
    position: absolute;
    top: 1rem;
    right: 2rem;
}
.previousnext a {
    display: block;

    &:first-child {
      margin-bottom: 1rem;
    }
}


a {
  &:link,
  &:visited {
    background: var(--link-bg-color, transparent);
    color: var(--link-text-color, #E2035C);

    &:hover,
    &:focus {
      background: var(--link-bg-color-hover, #00f);
      color: var(--link-text-color-hover, #fff);
      text-decoration: none;
    }
  }
}

.entry-meta {
  * {
    display: inline;
    background: var(--gray-light-3, #eee);
  }
}


.isntHomePage {
  --page-bg: #fff;
  --footer-bg-color: var(--yellow);
  --footer-bg-text: var(--black, #000);

  .sitename {
    --link-text-color-hover: #fff;

    a {
      font-size: 1.3rem;
      text-decoration: none;
      width: 10rem;
      display: inline-block;
    }
  }
}
.entry-tags {
  clear: both;
  float: right;
  text-align: right;
  width: 50%;
}

.layout-default {
  .navigation {
    position: absolute;
    right: 2rem;
    top: 2rem;
  }
  .content {
    max-width: 44rem;
    margin: 0 auto;
    font-family: var(--serif-font);
    font-size: var(--font-size-prose);

    h1 {
      font-family: var(--monospace-font);
      font-weight: 300;
      font-size: 3rem;
    }
  }
}

.navigation ul {
    padding: 0;
}
.navigation li {
    list-style: none;
}

.navigation li:before {
    content: "—";
    margin-right: 0.3rem
}

.intro {
    position: fixed;
    right: 4rem;
    top: 12rem;
    background: var(--yellow);
    width: 20rem;
}

.isHomePage {
  .sitename {
   font-size: 8vw;
   width: 50%;
   display: block;
   line-height: 1;
   text-decoration: none;

   h1 {
    font-size: 1em;
    font-weight: 300;
    position: fixed;
    left: 0;
    width: 50%;
    top: 1rem;
   }
   a {
    text-decoration: none;
  }
  .sitename-text span {
    // color: var(--yellow);
    color: #fff;
    background-color: #00f;

    span:first-child {
      position: relative;
    }
    span:last-child {
      margin-left: 2rem;
    }
   }
  }
}

.navigation {
  $nav-border: 1px dashed #00beff;
  border: $nav-border;
  border-left: none;
  padding: 1rem;
  width: fit-content;

  ul {
    margin: 0;
  }

  .pageType-directory & {
    position: absolute;
    top: 2rem;
    right: 3rem;
    text-align: right;
    border-left: $nav-border;
  }
}

.sitename-logo {
  .isHomePage & {
    display: none;
  }
  .isntHomePage & {
    width: 10rem;
    margin-left: 2rem;
  }
}

.layout-default,
.pageType-file {
  .sitename-text {
    position: absolute;
    overflow: hidden;
    opacity: 0;
  }
}

// tag page
.pageType-directory.isntHomePage {
  --spaceAtTop: 14rem;

  .intro {
    display: none;
  }
  .pageTitle {
    font-size: 4vw;
    font-weight: 300;
    margin-left: 3rem;

    span {
      display: block;
      font-weight: 400;
      font-family: var(--serif-font);
      font-size: 1.2rem;
      font-style: italic;
      text-transform: uppercase;
      border-bottom: 1px solid;
      letter-spacing: 0.6rem;
      padding-bottom: 0.6rem;
      border-color: #e388bd;
    }
  }
}
