@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Stockholm extension, https://github.com/annaesvensson/yellow-stockholm */
/* Colors and fonts */
:root {
  --bg: #1f2122;
  --page-bg: #888;
  --code-bg: #f7f7f7;
  --notice1-bg: #fffbf0;
  --notice2-bg: #fdf0f0;
  --notice3-bg: #f0f8fe;
  --heading: #111;
  --text: #666;
  --code: #666;
  --link: #07d;
  --link-active: #29f;
  --blockquote-accent: #29f;
  --notice1-accent: #fb0;
  --notice2-accent: #d00;
  --notice3-accent: #08e;
  --separator: #ddd;
  --border: #bbb;
  --font: "Open Sans", Helvetica, sans-serif;
  --monospace-font: "Fira Code", Iosevka-Aile, monospace;
  --serif-font: "Source Serif Pro";
  --font-size-prose: 1.3rem;
  --rotation: 2;
  --yellow: #ff0;
  --yellow-light: #ffff64;
  --gray-light-3: #eee;
}

html {
  font-family: var(--monospace-font);
  background: var(--page-bg);
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.footer {
  background: var(--footer-bg-color);
  color: var(--footer-bg-text);
  margin-top: 8rem;
  padding: 4rem;
}

.layout-blog-start {
  --footer-bg-color: #000;
  --footer-bg-text: var(--gray-light-3);
}
.layout-blog-start .featured-image {
  line-height: 0;
}
.layout-blog-start .blog-entry {
  margin-bottom: 30px;
  transform: rotate(var(--rotation));
}
.layout-blog-start .featured-image img {
  width: 100%;
}
.layout-blog-start .entry {
  position: relative;
}
.layout-blog-start .entry-title {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.layout-blog-start .entry-title h1 {
  font-weight: bold;
  font-size: 1.04rem;
  font-family: var(--monospace-font);
}
.layout-blog-start .entry-title a {
  color: #000;
  text-decoration: none;
}
.layout-blog-start .entry-title a:before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.layout-blog-start .entry-meta {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem 0.4rem;
  color: #fd0;
  background: #000;
  backdrop-filter: blur(10px);
  font-family: iosevka;
}
.layout-blog-start .entry-meta p {
  margin: 0;
}
.layout-blog-start .main.masonry-grid {
  margin: 2rem;
  margin-top: 24rem;
}
.layout-blog-start .sitename {
  font-size: 8vw;
  width: 50%;
  display: block;
  line-height: 1;
  text-decoration: none;
}
.layout-blog-start .sitename h1 {
  font-size: 1em;
  font-weight: 300;
  position: fixed;
  left: 0;
  width: 50%;
  top: 1rem;
}
.layout-blog-start .sitename a {
  text-decoration: none;
  color: var(--yellow);
}
.layout-blog-start .blog-entry {
  background: #1EC4B4;
}
.layout-blog-start .featured-image {
  mix-blend-mode: multiply;
}
.layout-blog-start .featured-image img {
  filter: grayscale(1) contrast(2);
}

.main.masonry-grid .blog-entry:nth-child(3n+0) {
  background: #ff0;
}
.main.masonry-grid .blog-entry:nth-child(3n+1) {
  background: #fff;
}
.main.masonry-grid .blog-entry:nth-child(3n+2) {
  background: #888;
}
.main.masonry-grid .entry-title h1 {
  display: inline-block;
  background: #fff;
  padding: 0.2rem 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  margin-left: -2px;
}
.main.masonry-grid .tags {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: none;
}
.main.masonry-grid .tags li {
  background: #fff;
  list-style: none;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  font-family: menlo;
  font-size: 0.9rem;
}
.main.masonry-grid .grid-sizer,
.main.masonry-grid .grid-item {
  width: 22%;
}
.main.masonry-grid .gutter-sizer {
  width: 3%;
}

.blog-entry {
  transition: 0.4s all ease;
}
.blog-entry:hover {
  background: #fff !important;
  transform: scale(1.04);
}
.blog-entry:hover .featured-image {
  mix-blend-mode: unset;
}
.blog-entry:hover .featured-image img {
  filter: unset;
}

.layout-blog .entry {
  overflow: hidden;
}
.layout-blog .featured-image {
  width: 50%;
  FLOAT: LEFT;
}
.layout-blog img {
  width: 100%;
}
.layout-blog .entry {
  max-width: 70rem;
  margin: 0 auto;
}
.layout-blog .entry-title,
.layout-blog .entry-content {
  background: var(--gray-light-3, #eee);
  float: right;
  margin-bottom: 0.8rem;
  width: 50%;
}
.layout-blog .entry-title {
  background: transparent;
}
.layout-blog .entry-title h1 {
  background: var(--gray-light-3, #eee);
  width: fit-content;
}

.entry-content p {
  font-family: var(--serif-font);
  font-size: var(--font-size-prose);
}

.previousnext {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.previousnext a {
  display: block;
}
.previousnext a:first-child {
  margin-bottom: 1rem;
}

a:link, a:visited {
  background: var(--link-bg-color, transparent);
  color: var(--link-text-color, #E2035C);
}
a:link:hover, a:link:focus, a:visited:hover, a:visited:focus {
  background: var(--link-bg-color-hover, #00f);
  color: var(--link-text-color-hover, #fff);
  text-decoration: none;
}

.entry-meta * {
  display: inline;
  background: var(--gray-light-3, #eee);
}

html:not(.layout-blog-start) {
  --page-bg: #fff;
  --footer-bg-color: var(--yellow);
  --footer-bg-text: var(--black, #000);
}
html:not(.layout-blog-start) .sitename {
  --link-text-color-hover: #fff;
}
html:not(.layout-blog-start) .sitename a {
  font-size: 1.3rem;
  text-decoration: none;
  width: 10rem;
  display: inline-block;
}

.entry-tags {
  clear: both;
  float: right;
  text-align: right;
  width: 50%;
}

.layout-default .content {
  max-width: 40rem;
  font-family: var(--serif-font);
  font-size: var(--font-size-prose);
}

.navigation ul {
  padding: 0;
}

.navigation li {
  list-style: none;
}

.navigation li:before {
  content: "—";
  margin-right: 0.3rem;
}
