@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Stockholm extension, https://github.com/annaesvensson/yellow-stockholm */
/*  RENAME THIS THEME */
/* Colors and fonts */
:root {
  --bg: #1f2122;
  --text: #666;
  --code: #666;
  --link: #07d;
  --link-active: #29f;
  --font-monospace: "Fira Code", Iosevka-Aile, monospace;
  --font-serif: "Source Serif Pro";
  --font-size-prose: 1.3rem;
  --rotation: 2;
  --yellow: #ff0;
  --yellow-light: #ffff64;
  --gray-light-3: #eee;
  --blue-deep: #00f;
  --crimson-forText: #e2035c;
}

/*  THEME
    ===== */
:root {
  --metadata-font: var(--font-monospace);
  --metadata-text-color: var(--yellow);
  --metadata-text-bg-color: #000;
  --link-bg-color: transparent;
  --link-text-color: var(--crimson-forText);
}

/*  BASICS
    ======
    These apply sitewide
*/
html {
  font-family: var(--font-monospace);
  background: var(--page-bg);
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/*  Template
    --------
    These apply to sitewide template-level elements
*/
.footer {
  background: var(--footer-bg-color);
  color: var(--footer-bg-text);
  margin-top: 8rem;
  padding: 4rem;
}

/*  SPECIFIC PAGES
    ==============
    These apply to specific pages and types of
    pages (home, archive)
*/
/*  Blog post listings
    ------------------
    This is the design for any listing of
    posts (home or tag archives)
*/
/*  layout-blog-start is the template used by
    both the homepage and archive pages.
*/
.layout-blog-start {
  --footer-bg-color: #000;
  --footer-bg-text: var(--gray-light-3);
  --spaceAtTop: 34vw;
  /*  blog post module
      ················
      This is for individual blog post tiles on
      the home or archive page.
  */
  /* Unlike on WordPress, where blog posts can have a lot
     of associated metadata, I only have one value here:
     the date it was posted.
   */
}
.layout-blog-start .blog-entry {
  background: #1EC4B4;
}
.layout-blog-start .featured-image {
  mix-blend-mode: multiply;
}
.layout-blog-start .featured-image img {
  filter: grayscale(1) contrast(2);
}

.main.masonry-grid .blog-entry:nth-child(4n+0) {
  background: #ff0;
}
.main.masonry-grid .blog-entry:nth-child(4n+1) {
  background: #00ff71;
}
.main.masonry-grid .blog-entry:nth-child(4n+2) {
  background: #66dcdc;
}
.main.masonry-grid .blog-entry:nth-child(4n+3) {
  background: #e388bd;
}
.main.masonry-grid .entry-title-heading {
  display: inline-block;
  background: #fff;
  padding: 0.2rem 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  margin-left: -2px;
}
.main.masonry-grid .tags {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: none;
}
.main.masonry-grid .tags li {
  background: #fff;
  list-style: none;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  font-family: menlo;
  font-size: 0.9rem;
}

.layout-blog .entry {
  overflow: hidden;
}
.layout-blog .featured-image {
  width: 50%;
  float: left;
  padding-right: 1rem;
}
.layout-blog img {
  width: 100%;
}
.layout-blog .entry {
  max-width: 70rem;
  margin: 0 auto;
}
.layout-blog .entry-title,
.layout-blog .entry-content {
  background: var(--gray-light-3, #eee);
  float: right;
  margin-bottom: 0.8rem;
  width: 50%;
}
.layout-blog .entry-title {
  background: transparent;
}
.layout-blog .entry-title h1 {
  background: var(--gray-light-3, #eee);
  width: fit-content;
}

.entry-content p {
  font-family: var(--font-serif);
  font-size: var(--font-size-prose);
}

.isntHomePage {
  --page-bg: #fff;
  --footer-bg-color: var(--yellow);
  --footer-bg-text: var(--black, #000);
}
.isntHomePage .sitename {
  --link-text-color-hover: #fff;
}
.isntHomePage .sitename a {
  font-size: 1.3rem;
  text-decoration: none;
  width: 10rem;
  display: inline-block;
}

.entry-tags {
  clear: both;
  float: right;
  text-align: right;
  width: 50%;
}

.layout-default .content,
.layout-error .content {
  max-width: 44rem;
  margin: 0 auto;
  font-family: var(--font-serif);
  font-size: var(--font-size-prose);
}
.layout-default .content h1,
.layout-error .content h1 {
  font-family: var(--font-monospace);
  font-weight: 300;
  font-size: 3rem;
}

.pageType-directory.isntHomePage {
  --spaceAtTop: 14rem;
}
.pageType-directory.isntHomePage .intro {
  display: none;
}
.pageType-directory.isntHomePage .pageTitle {
  font-size: 4vw;
  font-weight: 300;
  margin-left: 20vw;
}
.pageType-directory.isntHomePage .pageTitle span {
  display: block;
  font-weight: 400;
  font-family: var(--font-serif);
  font-size: 1.2rem;
  font-style: italic;
  text-transform: uppercase;
  border-bottom: 1px solid;
  letter-spacing: 0.6rem;
  padding-bottom: 0.6rem;
  border-color: #e388bd;
}

.hide .intro,
.hide .sitename-text {
  filter: blur(20px);
  opacity: 0.4;
}

.sitename-logo {
  display: flex;
  gap: 1rem;
}

.shape {
  transition: 0.4s all ease;
  transform: rotate(var(--frag-rotation)) !important;
}

.sitename a:hover {
  background: transparent !important;
}
.sitename a:hover .shape {
  transform: rotate(0deg) !important;
}

.shape.shape-1 {
  width: 3rem;
}

.shape.shape-2 {
  width: 4.2rem;
}

.shape svg {
  fill: transparent;
}

.shape-1 svg {
  fill: var(--shape-1-fill);
}

.shape-2 svg {
  fill: var(--shape-2-fill);
}

.photoswipe a {
  width: 33%;
  padding: 1rem;
}
.photoswipe a img {
  width: 100%;
  height: auto;
}

.sitename-content {
  margin: 4rem 2rem;
  border: 1px solid #f00;
}

a:link, a:visited {
  background: var(--link-bg-color);
  color: var(--link-text-color);
}
a:link:hover, a:link:focus, a:visited:hover, a:visited:focus {
  background: var(--link-bg-color-hover, #00f);
  color: var(--link-text-color-hover, #fff);
  text-decoration: none;
}

/*  blogpost-module
    ===============
    This is how a blog post is represented on
    home and archive pages
*/
.blog-post-module .featured-image {
  line-height: 0;
}
.blog-post-module .featured-image img {
  width: 100%;
}
.blog-post-module .entry {
  transition: 0.4s all ease;
  margin-bottom: 30px;
  transform: rotate(var(--rotation));
  position: relative;
}
.blog-post-module .entry:hover {
  background: #fff !important;
  transform: scale(1.04);
}
.blog-post-module .entry:hover .featured-image {
  mix-blend-mode: unset;
}
.blog-post-module .entry:hover .featured-image img {
  filter: unset;
}
.blog-post-module .entry-title {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.blog-post-module .entry-title-heading {
  font-weight: bold;
  font-size: 1.04rem;
  font-family: var(--font-monospace);
}
.blog-post-module .entry-meta {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem 0.4rem;
  color: var(--metadata-text-color);
  background: var(--metadata-text-bg-color);
  backdrop-filter: blur(10px);
  font-family: var(--metadata-font) p;
  font-family-margin: 0;
}
.blog-post-module .entry-meta * {
  display: inline;
}
.blog-post-module a {
  color: #000;
  text-decoration: none;
  /*  This "stretches" the link target area
      so the link covers the entire tile. */
}
.blog-post-module a:before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}

/*  blogpost-module
    ===============
    This is how a blog post is represented on
    home and archive pages
*/
.blog-post-module .featured-image {
  line-height: 0;
}
.blog-post-module .featured-image img {
  width: 100%;
}
.blog-post-module .entry {
  transition: 0.4s all ease;
  margin-bottom: 30px;
  transform: rotate(var(--rotation));
  position: relative;
}
.blog-post-module .entry:hover {
  background: #fff !important;
  transform: scale(1.04);
}
.blog-post-module .entry:hover .featured-image {
  mix-blend-mode: unset;
}
.blog-post-module .entry:hover .featured-image img {
  filter: unset;
}
.blog-post-module .entry-title {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.blog-post-module .entry-title-heading {
  font-weight: bold;
  font-size: 1.04rem;
  font-family: var(--font-monospace);
}
.blog-post-module .entry-meta {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem 0.4rem;
  color: var(--metadata-text-color);
  background: var(--metadata-text-bg-color);
  backdrop-filter: blur(10px);
  font-family: var(--metadata-font) p;
  font-family-margin: 0;
}
.blog-post-module .entry-meta * {
  display: inline;
}
.blog-post-module a {
  color: #000;
  text-decoration: none;
  /*  This "stretches" the link target area
      so the link covers the entire tile. */
}
.blog-post-module a:before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}

/*  navigation
    ===============
*/
.navigation {
  position: absolute;
  right: 2rem;
  top: 2rem;
  border: 1px dashed #00beff;
  padding: 1rem;
  width: fit-content;
}
.navigation ul {
  margin: 0;
  padding: 0;
}
.navigation li {
  list-style: none;
}
.navigation li:before {
  content: "—";
  margin-right: 0.3rem;
}

/*  previousnext
    ============
    The prev and next links on blog posts
*/
.previousnext {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(4px);
  padding: 0 1rem;
}

.previousnext a {
  display: block;
}
.previousnext a:first-child {
  margin-bottom: 1rem;
}

/*  page-intro
    ==========
    The yellow tagline on the homepage
*/
.page-intro {
  background: var(--yellow);
  transition: 0.4s all ease;
}
@media screen and (min-width: 50em) {
  .page-intro {
    position: fixed;
    right: 4rem;
    top: 12rem;
    width: 20rem;
  }
}

/*  sitename
    ========

*/
.isHomePage .sitename {
  font-size: 2.4rem;
  width: 50%;
  display: block;
  line-height: 1;
  text-decoration: none;
}
@media screen and (min-width: 32em) {
  .isHomePage .sitename {
    font-size: 8vw;
  }
}
.isHomePage .sitename h1 {
  font-size: 1em;
  font-weight: 300;
  width: 50%;
}
@media screen and (min-width: 50em) {
  .isHomePage .sitename h1 {
    position: fixed;
    left: 0;
    top: 1rem;
  }
}
.isHomePage .sitename a {
  text-decoration: none;
}

.isHomePage .sitename-text {
  transition: 0.4s all ease;
}
.isHomePage .sitename-text span {
  color: #fff;
  background-color: var(--sitename-text, var(--blue-deep));
}
.isHomePage .sitename-text span:first-child {
  position: relative;
}
.isHomePage .sitename-text span:last-child {
  margin-left: 2rem;
}
.layout-default .sitename-text, .pageType-file .sitename-text {
  position: absolute;
  overflow: hidden;
  opacity: 0;
}

.isHomePage .sitename-logo {
  display: none;
}
.isntHomePage .sitename-logo {
  width: 10rem;
  margin-left: 2rem;
}

.main.masonry-grid {
  margin: 2rem;
  margin-top: var(--spaceAtTop);
}
@media screen and (min-width: 40em) {
  .main.masonry-grid .grid-sizer,
  .main.masonry-grid .grid-item {
    width: 45%;
  }
}
@media screen and (min-width: 50em) {
  .main.masonry-grid .grid-sizer,
  .main.masonry-grid .grid-item {
    width: 30%;
  }
}
@media screen and (min-width: 60em) {
  .main.masonry-grid .grid-sizer,
  .main.masonry-grid .grid-item {
    width: 22%;
  }
}
.main.masonry-grid .gutter-sizer {
  width: 3%;
}
@media screen and (min-width: 50em) {
  .main.masonry-grid .gutter-sizer {
    width: 3%;
  }
}
@media screen and (min-width: 60em) {
  .main.masonry-grid .gutter-sizer {
    width: 3%;
  }
}
