//  Responsive Font Sizing.
@import "~rfs.scss";

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Stockholm extension, https://github.com/annaesvensson/yellow-stockholm */

/*  RENAME THIS THEME */

/* Colors and fonts */

:root {
  --bg: #1f2122;

  --text: #666;
  --code: #666;

  --link: #07d;
  --link-active: #29f;

  --font-monospace: "Fira Code", Iosevka-Aile, monospace;
  --font-serif: "Source Serif Pro";
  --font-size-prose: 1.3rem;
  --rotation: 2;

//  Colors

  --yellow: #ff0;
  --yellow-light: #ffff64;
  --gray-light-3: #eee;
  --blue-deep: #00f;
  --crimson-forText: #e2035c;
}

/*  THEME
    ===== */

:root {
  --metadata-font: var(--font-monospace);
  --metadata-text-color: var(--yellow);
  --metadata-text-bg-color: #000;

  --link-bg-color: transparent;
  --link-text-color: var(--crimson-forText);
}




/*  BASICS
    ======
    These apply sitewide
*/

html {
 font-family: var(--font-monospace);
 background: var(--page-bg);
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
}

body {
  margin: 0;
}

@media screen and (max-width: 32em) {
}
@media print {
}



/*  Template
    --------
    These apply to sitewide template-level elements
*/

.footer {
  background: var(--footer-bg-color);
  color: var(--footer-bg-text);
  margin-top: 8rem;
  padding: 4rem;
}



/*  SPECIFIC PAGES
    ==============
    These apply to specific pages and types of
    pages (home, archive)
*/

/*  Blog post listings
    ------------------
    This is the design for any listing of
    posts (home or tag archives)
*/



/*  layout-blog-start is the template used by
    both the homepage and archive pages.
*/
.layout-blog-start {
  --footer-bg-color: #000;
  --footer-bg-text: var(--gray-light-3);
  --spaceAtTop: 34vw;


/*  blog post module
    ················
    This is for individual blog post tiles on
    the home or archive page.
*/


 /* Unlike on WordPress, where blog posts can have a lot
    of associated metadata, I only have one value here:
    the date it was posted.
  */




 .blog-entry {
  background: #1EC4B4;
 }

 .featured-image {
  mix-blend-mode: multiply;

  img {
   filter: grayscale(1) contrast(2);
  }
 }
}

        // end blog-post-module
    // end Blog post listings
// end SPECIFIC PAGES


.main.masonry-grid {

 // https://www.presentandcorrect.com/blogs/blog/rams-palette

 $colors:
  #cc6324,
  #bfa07a,
  #aab7bf,
  #ed8008,
  #736b1e,
  #bf7c2a,
  #9c9c9c;

  $colors:
    #c3e697,
    #c0966e,
    #ddb55d,
    #ecc5f9,
    #fbe2b7,
    #e0e0fc
  ;

  $colors:
//    #f00,
    #ff0,
    #00ff71,
    #66dcdc,
    #e388bd
//    #00f,
//    #f0f
  ;


//  $colors: #ff0, #fff, #888;

// Commented-out colors are too dark

 $color-number: length($colors);

 @each $color in $colors {
  $i: index($colors, $color);

  .blog-entry:nth-child(#{$color-number}n + #{$i - 1}) {
   background: $color; // scale-color($color, $lightness: 40%);
  }
 }

  .entry-title-heading {
    display: inline-block;
    background: #fff;
    padding: 0.2rem 0.4rem;
    box-shadow: rgba(0,0,0,0.2) 1px 1px 1px;
    margin-left: -2px;
  }

  .tags {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    display: none;

    li {
     background: #fff;
     list-style: none;
     padding: 0.2rem 0.4rem;
     border-radius: 0.3rem;
     font-family: menlo;
     font-size: 0.9rem;
    }
  }
}



.layout-blog {

  .entry {
    overflow: hidden;
  }

  .featured-image {
      width: 50%;
      float: left;
      padding-right: 1rem;
  }

  img {
      width: 100%;
  }
  .entry {
    max-width: 70rem;
    margin: 0 auto;
  }
  .entry-title,
  .entry-content {
    background: var(--gray-light-3, #eee);
    float: right;
    margin-bottom: 0.8rem;
    width: 50%;
  }
  .entry-title {
    background: transparent;

    h1 {
      background: var(--gray-light-3, #eee);
      width: fit-content;
    }
  }
}

.entry-content {
  p {
    font-family: var(--font-serif);
    font-size: var(--font-size-prose);
  }
}
.isntHomePage {
  --page-bg: #fff;
  --footer-bg-color: var(--yellow);
  --footer-bg-text: var(--black, #000);

  .sitename {
    --link-text-color-hover: #fff;

    a {
      font-size: 1.3rem;
      text-decoration: none;
      width: 10rem;
      display: inline-block;
    }
  }
}
.entry-tags {
  clear: both;
  float: right;
  text-align: right;
  width: 50%;
}

.layout-default,
.layout-error {
  .content {
    max-width: 44rem;
    margin: 0 auto;
    font-family: var(--font-serif);
    font-size: var(--font-size-prose);

    h1 {
      font-family: var(--font-monospace);
      font-weight: 300;
      font-size: 3rem;
    }
  }
}



// tag page
.pageType-directory.isntHomePage {
  --spaceAtTop: 14rem;

  .intro {
    display: none;
  }
  .pageTitle {
    font-size: 4vw;
    font-weight: 300;
    margin-left: 20vw;
    span {
      display: block;
      font-weight: 400;
      font-family: var(--font-serif);
      font-size: 1.2rem;
      font-style: italic;
      text-transform: uppercase;
      border-bottom: 1px solid;
      letter-spacing: 0.6rem;
      padding-bottom: 0.6rem;
      border-color: #e388bd;
    }
  }
}


.hide {
  .intro,
  .sitename-text {
      filter: blur(20px);
      opacity: 0.4;
  }
}


.sitename-logo {
    display: flex;
    gap: 1rem;
}

.shape {
  transition: 0.4s all ease;
  transform: rotate(var(--frag-rotation)) !important;
}

.sitename a:hover {
  background: transparent !important;

  .shape {
    transform: rotate(0deg) !important;
  }
}

.shape.shape-1 {
    width: 3rem;
}
.shape.shape-2 {
    width: 4.2rem;
}
.shape svg {
  fill: transparent;
}
.shape-1 svg {
  fill: var(--shape-1-fill);
}
.shape-2 svg {
  fill: var(--shape-2-fill);
}

.photoswipe {
  a {
    width: 33%;
    padding: 1rem;

    img {
      width: 100%;
      height: auto;
    }
  }
}


.sitename-content {
    margin: 4rem 2rem;
    border: 1px solid #f00;
}


@import "1_atoms/_all";
@import "2_molecules/_all";
@import "3_modules/_all";
@import "4_layouts/_all";
