
/*  navigation
    ===============
*/

.navigation {
  position: absolute;
  right: 2rem;
  top: 2rem;
  $nav-border: 1px dashed #00beff;
  border: $nav-border;
  padding: 1rem;
  width: fit-content;

  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;

    &:before {
        content: "—";
        margin-right: 0.3rem
    }
  }
}
